<po-page-default>
    <form [formGroup]="formTasks">
        <div class="po-row">            
            <div class="po-offset-xl-2 po-offset-lg-2 po-xl-7 po-lg-7">
                <po-divider 
                    p-label="Nova tarefa" >
                </po-divider>
                <input
                    formControlName="id"
                    hidden />
                <po-input
                    p-label="Nome"
                    class="po-xl-12 po-lg-12"
                    formControlName="name">
                </po-input>
                <po-datepicker
                    name="datepicker"
                    p-label="Início"
                    class="po-xl-4 po-lg-4"
                    formControlName="start">
                </po-datepicker>
                <po-combo
                    name="combo"
                    class="po-xl-8 po-lg-8"
                    p-label="Categoria"
                    [p-options]="categories"
                    formControlName="category">
                </po-combo>
                <po-textarea
                    class="po-xl-12"
                    name="textarea"
                    p-label="Descrição"
                    formControlName="description">
                </po-textarea>

                <div class="po-offset-xl-3 po-offset-lg-3 po-xl-12 po-lg-12">
                    <po-button class="po-xl-3 po-lg-3" p-label="Salvar" (p-click)="onSubmit()"></po-button>
                    <po-button class="po-xl-3 po-lg-3" p-label="Cancelar" (p-click)="clear()"></po-button>
                    <po-button class="po-xl-3 po-lg-3" p-label="Fechar"></po-button>
                </div>
            </div>
        </div>
    </form>
</po-page-default>
