<po-page-default>
  <div class="po-row">
    <div class="po-offset-xl-2 po-offset-lg-2 po-xl-7 po-lg-7">
      <po-divider p-label="Minhas Categorias"> </po-divider>
      <div *ngFor="let category of categories">
        <po-widget
          p-primary-label="Alterar"
          p-secondary-label="Excluir"
          (p-primary-action)="edit(category?.id)"
          (p-secondary-action)="openDialog(category?.id)"
          class="po-lg-6 po-xl-6"
        >
          <div class="po-font-subtitle po-text-center">{{ category?.name }}</div>
        </po-widget>
      </div>
    </div>
  </div>
</po-page-default>
