<po-page-default>
    <form [formGroup]="formCategories">
        <div class="po-row">            
            <div class="po-offset-xl-2 po-offset-lg-2 po-xl-7 po-lg-7">
                <po-divider 
                    p-label="Nova Categoria" >
                </po-divider>
                <input
                    formControlName="id"
                    hidden />
                <po-input
                    p-label="Nome"
                    class="po-xl-12 po-lg-12"
                    formControlName="name">
                </po-input>
                <div class="po-offset-xl-6 po-offset-lg-6 po-xl-12 po-lg-12">
                    <po-button p-icon="po-icon po-icon-exit" p-type="default" class="po-xl-3 po-lg-3" p-label="Fechar" (p-click)="close()"></po-button>
                    <po-button p-icon="po-icon po-icon-ok" p-type="primary" class="po-xl-3 po-lg-3" p-label="Salvar" (p-click)="onSubmit()"></po-button>
                </div>
            </div>
        </div>
    </form>
</po-page-default>